/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* prettier-ignore*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* prettier-ignore*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
/* prettier-ignore*/
ol, ul {
	list-style: none;
}
/* prettier-ignore*/
blockquote, q {
	quotes: none;
}
/* prettier-ignore*/
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Custom Font */
@font-face {
    font-family: roboto;
    src: url(fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: roboto-restart;
    src: url(fonts/Roboto/Roboto-Light.ttf);
}

/* Overall Form Styling */
:root {
    --header-height: 6em;
    --footer-height: 6em;
    --background-color: #e4e4e4;
}

body {
    font-family: roboto;
    height: 100vh;
    background-color: #1a2b33;
    color: #cddfdd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
}

h1 {
    font-size: 3em;
}

/* Main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

player-selection-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

button {
    background-color: #a9bec8;
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
    font-family: roboto-restart;
}

button:hover {
    cursor: pointer;
    background-color: #9baeb7;
}

.board {
    margin: 1em;
}

.pad {
    height: 3em;
    width: 3em;
    margin: 0.2em;
    background-color: #203b48;
    border: solid #a9bec829 2px;
    color: #cddfdd;
    font-size: 2em;
    font-family: roboto;
}

.pad:hover {
    background-color: #254250;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--footer-height);
}

#github-link {
    color: #cddfdd;
    text-decoration: none;
}

#github-link:hover {
    color: #b3c0bf;
}

/* Fix Styling for Phone */
@media (max-width: 540px) {
    body {
        height: auto;
    }

    .pad {
        height: 3em;
        width: 3em;
        margin: 0.2em;
        background-color: #203b48;
        border: solid #a9bec829 2px;
    }
}
