/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End of Meyer Reset */

/* Overall Form Styling */
:root {
    --header-height: 6em;
    --footer-height: 6em;
    --background-color: #e4e4e4;
}

body {
    height: 100vh;
    background-color: #1a2b33;
    color: #cddfdd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
}

h1 {
    font-size: 3em;
}

/* Main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

player-selection-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

button {
    background-color: #a9bec8;
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
}

button:hover {
    cursor: pointer;
    background-color: #9baeb7;
}

.board {
    margin: 1em;
}

.pad {
    height: 5em;
    width: 5em;
    margin: 0.2em;
    background-color: #203b48;
    border: solid #a9bec829 2px;
}

.pad:hover {
    background-color: #254250;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--footer-height);
}

@media (max-width: 540px) {
    body {
        height: auto;
    }

    .pad {
        height: 3em;
        width: 3em;
        margin: 0.2em;
        background-color: #203b48;
        border: solid #a9bec829 2px;
    }
}
